version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby

    steps:
      - checkout

      - run:
          name: Install awesome_bot
          command: gem install awesome_bot

      - run:
          name: Check README.md
          command: awesome_bot README.md --allow-dupe --allow-redirect --request-delay 1 --white-list https://github,https://img.shields.io
